// Sass ma dwie składnie!
// Najczęściej używana jest składnia SCSS ( .scss).
// Jest to nadzbiór CSS , co oznacza,
// że wszystkie poprawne CSS są również poprawnymi SCSS.
// Składnia z wcięciami ( .sass) jest bardziej niezwykła:
// używa wcięć zamiast nawiasów klamrowych do zagnieżdżania instrukcji
// i znaków nowej linii zamiast średników do ich rozdzielania.

// ----- Moduły -----

$square-length: 100px;
$square-margin: 15px;

#square-darkorchid {
  background: #9932CC;

  width: $square-length;
  height: $square-length;
  margin: $square-margin;
}

#square-blueviolet {
  background: #8A2BE2;

  width: $square-length;
  height: $square-length;
  margin: $square-margin;
}

#square-darkmagenta {
  background: #8B008B;

  width: $square-length;
  height: $square-length;
  margin: $square-margin;
}