#square-darkorchid {
  background: #9932CC;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-blueviolet {
  background: #8A2BE2;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-darkmagenta {
  background: #8B008B;
  width: 100px;
  height: 100px;
  margin: 15px;
}

body {
  background: #181818;
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
}

#square-tomato {
  background: tomato;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-yellow {
  background: yellow;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-lime {
  background: lime;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-green {
  background: green;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-deepskyblue {
  background: deepskyblue;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-dodgerblue {
  background: dodgerblue;
  width: 100px;
  height: 100px;
  margin: 15px;
}

#nesting {
  background: #dbdbdb;
  display: flex;
}
#nesting div {
  width: 100px;
  height: 100px;
  margin: 15px;
}

#square-gray {
  background: gray;
}

#square-silver {
  background: silver;
}

#square-white {
  background: white;
}

/*# sourceMappingURL=style.css.map */
