// https://sass-lang.com/guide
// ----- Przetwarzanie wstępne -----
// "sass --watch input.sass output.css"

// ----- Moduł (Moduły zawsze muszą być na początku) -----
@use 'style.scss'

body
  background: #181818
  display: flex
  justify-content: center

div
  display: flex
  justify-content: center
  align-items: center
  color: #212121

// ----- Zmienne SASS -----

$square-length: 100px
$square-margin: 15px

#square-tomato
  background: tomato

  width: $square-length
  height: $square-length
  margin: $square-margin

#square-yellow
  background: yellow

  width: $square-length
  height: $square-length
  margin: $square-margin

#square-lime
  background: lime

  width: $square-length
  height: $square-length
  margin: $square-margin

// ----- Mixins - Mieszanki -----

@mixin squareSizes($square-color)
  background: $square-color

  width: $square-length
  height: $square-length
  margin: $square-margin

#square-green
  @include squareSizes(green)

#square-deepskyblue
  @include squareSizes(deepskyblue)

#square-dodgerblue
  @include squareSizes(dodgerblue)

// ----- Nesting - Zagnieżdżanie -----

#nesting
  background: #dbdbdb
  display: flex
  div
    width: $square-length
    height: $square-length
    margin: $square-margin

#square-gray
  background: gray

#square-silver
  background: silver

#square-white
  background: white